python-dotenv >= 1.0.0
pyyaml >= 6.0
requests >= 2.27.1
google.cloud.storage >= 2.17.0
py-nessus-pro @ git+https://github.com/sfowl/py-nessus-pro.git@41abc315c0e7e1320bb60732830eaf8e8ed3ba84 # custom fork without selenium
dacite >= 1.8.1
jsonschema >= 4.23.0
jsonschema[format]
