<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <policy>full-scan-example</policy>
    <scanner>
        <level>MEDIUM</level>
        <strength>MEDIUM</strength>
    </scanner>
    <plugins>
        <p6>
            <enabled>true</enabled>
        </p6>
        <p7>
            <enabled>true</enabled>
        </p7>
        <p10045>
            <enabled>true</enabled>
        </p10045>
        <p20019>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p20019>
        <p40009>
            <enabled>true</enabled>
        </p40009>
        <p40012>
            <enabled>true</enabled>
        </p40012>
        <p40014>
            <enabled>true</enabled>
        </p40014>
        <p40018>
            <enabled>true</enabled>
        </p40018>
        <p90019>
            <enabled>true</enabled>
        </p90019>
        <p90020>
            <enabled>true</enabled>
        </p90020>
        <p0>
            <enabled>true</enabled>
        </p0>
        <p30001>
            <enabled>true</enabled>
        </p30001>
        <p30002>
            <enabled>true</enabled>
        </p30002>
        <p40003>
            <enabled>true</enabled>
        </p40003>
        <p40008>
            <enabled>true</enabled>
        </p40008>
        <p40028>
            <enabled>true</enabled>
        </p40028>
        <p40032>
            <enabled>true</enabled>
        </p40032>
        <p40016>
            <enabled>true</enabled>
        </p40016>
        <p40017>
            <enabled>true</enabled>
        </p40017>
        <p50000>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p50000>
        <p41>
            <enabled>true</enabled>
        </p41>
        <p43>
            <enabled>true</enabled>
        </p43>
        <p10048>
            <enabled>true</enabled>
        </p10048>
        <p10107>
            <enabled>true</enabled>
        </p10107>
        <p20015>
            <enabled>true</enabled>
        </p20015>
        <p20016>
            <enabled>true</enabled>
        </p20016>
        <p20017>
            <enabled>true</enabled>
        </p20017>
        <p20018>
            <enabled>true</enabled>
        </p20018>
        <p40013>
            <enabled>true</enabled>
        </p40013>
        <p40019>
            <enabled>true</enabled>
        </p40019>
        <p40020>
            <enabled>true</enabled>
        </p40020>
        <p40021>
            <enabled>true</enabled>
        </p40021>
        <p40022>
            <enabled>true</enabled>
        </p40022>
        <p40024>
            <enabled>true</enabled>
        </p40024>
        <p40026>
            <enabled>true</enabled>
        </p40026>
        <p40027>
            <enabled>true</enabled>
        </p40027>
        <p90021>
            <enabled>true</enabled>
        </p90021>
        <p90023>
            <enabled>true</enabled>
        </p90023>
        <p90024>
            <enabled>true</enabled>
        </p90024>
        <p90025>
            <enabled>true</enabled>
        </p90025>
        <p90034>
            <enabled>true</enabled>
        </p90034>
        <p42>
            <enabled>true</enabled>
        </p42>
        <p10051>
            <enabled>true</enabled>
        </p10051>
        <p10095>
            <enabled>true</enabled>
        </p10095>
        <p10106>
            <enabled>true</enabled>
        </p10106>
        <p20012>
            <enabled>true</enabled>
        </p20012>
        <p30003>
            <enabled>true</enabled>
        </p30003>
        <p40025>
            <enabled>true</enabled>
        </p40025>
        <p40029>
            <enabled>true</enabled>
        </p40029>
        <p40034>
            <enabled>true</enabled>
        </p40034>
        <p40035>
            <enabled>true</enabled>
        </p40035>
        <p90017>
            <enabled>true</enabled>
        </p90017>
        <p90028>
            <enabled>true</enabled>
        </p90028>
        <p10047>
            <enabled>true</enabled>
        </p10047>
        <p10058>
            <enabled>true</enabled>
        </p10058>
        <p10104>
            <enabled>true</enabled>
        </p10104>
        <p20014>
            <enabled>true</enabled>
        </p20014>
        <p40023>
            <enabled>true</enabled>
        </p40023>
        <p90027>
            <enabled>true</enabled>
        </p90027>
        <p40015>
            <enabled>true</enabled>
        </p40015>
        <p40031>
            <enabled>true</enabled>
        </p40031>
        <p40033>
            <enabled>true</enabled>
        </p40033>
        <p40043>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p40043>
        <p40045>
            <enabled>true</enabled>
        </p40045>
        <p60100>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p60100>
        <p60101>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p60101>
        <p90026>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p90026>
        <p90029>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p90029>
        <p90035>
            <enabled>true</enabled>
        </p90035>
        <p90036>
            <enabled>true</enabled>
        </p90036>
        <p40038>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p40038>
        <p40039>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p40039>
        <p40040>
            <enabled>true</enabled>
        </p40040>
        <p40042>
            <enabled>true</enabled>
        </p40042>
        <p40044>
            <enabled>true</enabled>
            <level>DEFAULT</level>
        </p40044>
    </plugins>
</configuration>
